<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <div>Socket IO</div>
    
    <script>
        const socket = io();
        //이벤트 생성
        socket.emit("open_message", {name: 'client', message: "Hello Server"}, (res) => {})
    </script>
</body>
</html>