<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>SignUp</h1>
        <!--동적폼은 입력하는 순간, 백엔드로 바로 넘어간다(동기식 : 보내고 바로 끝나버린다)
        비동기폼은 보내는 순간 백엔드(서버)와 대화를 한다. 이 사람이 맞는지 아닌지 확인한다.(즉, 비동기폼을 만들어야한다.)-->
        <!--이폼은 동적폼이다. 그리고 밑의 스크립트의 방식을 통해 비동기처리를 해주는건가?-->
        <form name="form-signup">  <!--form name과 onclick의 이름이 같으면 안된다.-->
            <label for="userid">id</label>
            <input type="text" id="userid" /><br />
            <label for="pw">password</label>
            <input type="password" id="pw" /><br />
            <label for="name">name</label>
            <input type="text" id="name" /><br />
            <button type="button" onclick="signup()">회원가입</button>
        </form>
        <script>
            async function signup() {
            const form = document.forms['form-signup'];
        
            try {
                const response = await axios({
                    method: 'POST',
                    url: '/signup',
                    data: {
                        userid: form.userid.value,
                        pw: form.pw.value,
                        name: form.name.value,
                    },
                });

                console.log('res', response);

                if (response.data.result) {
                    alert('회원가입을 축하합니다');
                    window.location.href = '/signin';
                } } catch (error) {
                    console.error('Error:', error);
                    // Handle error cases here
                    }
            }
        </script>
    </body>
</html>
