<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <form name="signup">
            <!--폼의 이름과 onclick의 이름은 달라야한다.-->
            <input type="text" id="userid" placeholder="ID" /><br />
            <input type="password" id="pw" placeholder="PW" /><br />
            <input type="text" id="name" placeholder="NAME" /><br />
            <button type="button" onclick="registerFunc()">회원가입</button> 
        </form>

        <script>
            //async와 await는 동기식이 아니라 비동기식 코드를 더 쉽게 작성하고 관리할 수 있게 해주는 JavaScript의 비동기 프로그래밍 패턴입니다.
            async function registerFunc() {
                //이 코드는 registerFunc라는 비동기 함수를 정의합니다. 이 함수는 사용자 등록을 처리하는 데 사용됩니다.
                const data = {
                    //이 부분에서는 사용자가 입력한 데이터를 객체 data에 수집합니다. 이 데이터는 사용자 ID(userid), 비밀번호(pw), 그리고 이름(name)을 포함합니다.
                    //document.querySelector('#userid').value와 같이 DOM 요소를 사용하여 웹 페이지에서 해당 필드의 값을 가져옵니다.
                    userid: document.querySelector('#userid').value,
                    pw: document.querySelector('#pw').value,
                    name: document.querySelector('#name').value,
                };
                const result = await axios({
                    //await 키워드는 axios의 요청이 완료될 때까지 기다리도록 합니다. 서버 응답을 받을 때까지 다음 코드 실행을 차단합니다.
                    method: 'POST',
                    url: '/signup',
                    data,
                }); //post형식으로 signup의 라우터에 해당 data를 보내서 사용자 등록 요청을 하는거다. 해당 할일의 결과를 result로 담아온다.

                if (result.data.result) {
                    //그 결과값이 true이면 login페이지로 위치를 옮겨준다.
                    document.location.href = '/signin';
                    //JavaScript를 사용하여 현재 웹 페이지를 새로운 URL 주소로 리디렉션(재전송)하는 코드입니다. 이 코드를 실행하면 현재 웹 페이지가 사용자를 /login 페이지로 이동시킵니다.
                    //document.location.href: 이 부분은 현재 웹 페이지의 URL 주소를 나타냅니다. 즉, 현재 웹 페이지의 URL을 변경하려는 것입니다.
                }
            }
        </script>
    </body>
</html>