<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h1>POST 실습</h1>
    <form name="logIn">
        <h2>NAVER</h2>
        <ul>
            <li><input type="text" placeholder="아이디" title="아이디입력" name="id" required></li>
            <li><input type="password" placeholder="비밀번호" title="비밀번호입력" name="pw" required></li>
            <!-- <li><input type="checkbox" id="chk_id"><label for="chk_id">아이디저장</label></li> -->
            <li><button type="button" onclick="login()">로그인</button></li>
        </ul>
        <div class="result"></div>
    </section>

    <script>
        const resultBox = document.querySelector('.result');

        function login() {
            console.log('login post');
            const form = document.forms['logIn'];
            const data = {  
                id : form.id.value,
                pw : form.pw.value,
            };
            axios({
                method: 'POST',
                url: '/login',
                data: data
            }).then(res => {
                console.log('res',res);
                const { result, userInfo } = res.data; //js에 만들어줬기 때문에 객체 구조 분해 할당.
                if ( result ) {
                    resultBox.textContent = `${userInfo.id}님 환영합니다.`;
                    resultBox.style.color = 'green';
                } else {
                    resultBox.textContent = '아이디 또는 패스워드가 틀렸습니다.';
                    resultBox.style.color = 'red';
                }
            })
        }
    </script>
</body>
</html>