<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a><img src="../public_/image/pngwing.com.png"></a>
    <a href="/page1"><p>page1</p></a>
    <a href="/page2"><p>page2</p></a>
    <a href="/page3"><p>page3</p></a>

    <style>
        img {
            width: 100px;
            height: 100px;
        }
    </style>
</body>
</html>