<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public_/css/실습.css"/>
    <title>실습</title>
</head>
<body>
    <div class="container">
        <div class="one">
            <div class="white-eye">
                <div class="black-eye"></div>
            </div>
        </div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
        <img src="../public_/image/pngwing.com.png" />
    </div>
</body>
</html> 