<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public_/css/실습2.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <title> Document </title>
</head>
<body>
    <div id="box">
        <img class="img" id="aa" src="../public_/image/사과.jpeg" />
        <img class="img" id="bb" src="../public_/image/바나나.jpeg" />
        <img class="img" id="cc" src="../public_/image/포도.jpeg" />
        <img class="img" id="dd" src="../public_/image/복숭아.jpg" />
    </div>

    <button id="a" onclick="a()">사과</button>
    <button id="b" onclick="b()">바나나</button>
    <button id="c" onclick="c()">포도</button>
    <button id="d" onclick="d()">복숭아</button>
    
        
        <h4>이미지 바꾸기</h4>
        <img src="/image/q.jpg" width="300" height="300" />
        <br />
        <% for( let i = 0; i < fruit.length; i++) { %>
        <button class="btn <%= fruit[i].name %>"><%= fruit[i].kor%></button>
        <% } %>
        <!-- <button class="btn apple">사과</button>
        <button class="btn banana">바나나</button>
        <button class="btn grapes">포도</button>
        <button class="btn peache">복숭아</button> -->

        <script>
            $('.btn').click(function () {
                let name;
                if ($(this).hasClass('apple')) {
                    name = 'apple';
                } else if ($(this).hasClass('banana')) {
                    name = 'bananas';
                } else if ($(this).hasClass('grapes')) {
                    name = 'grapes';
                } else if ($(this).hasClass('peache')) {
                    name = 'peaches';
                }
                $('img').attr('src', `/image/${name}.jpg`);
            });
        </script>

    </script>
</body>
</html>