<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>로그인</h1>
        <form name="login-form">
            <input type="text" id="id" placeholder="ID" /><br />
            <input type="password" id="pw" placeholder="PW" /><br />
            <button type="button" onclick="login()">로그인</button>
        </form>

        <script>
            // form에 login-form이라는 이름을 가진 폼을 담아주고, res에 post방식으로 /login으로 해당 id와 pw의 data를 담아서 보내준다.
            // 결과가 true이면 웹 브라우저의 로컬 저장소에 setItem으로 해당 결과의 토큰값을 담아주고, 메인페이지로 이동한다.
            // 결과가 false이면 설정해준 메세지를 띄워주고, reload한다. 
            async function login() {
                console.log('login');
                const form = document.forms['login-form'];
                const res = await axios({
                    method: 'POST',
                    url: '/login',
                    data: {
                        id: form.id.value,
                        pw: form.pw.value,
                    },
                });
                console.log('res', res.data);
                if (res.data.result) {
                    localStorage.setItem('login', res.data.token);
                    //웹 브라우저의 로컬 스토리지(Local Storage)에 'login'이라는 키(key)에 해당 결과의 토큰 값을 저장한다.
                    document.location.href = '/';
                } else {
                    alert(res.data.message);
                    document.location.reload();
                }
            }
        </script>
    </body>
</html>