.AddTodo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    flex: 1;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F7D060;
    color: #3C486B;
    outline: none;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #F7D060;
    border: none;
    border-radius: 5px;
    color: #3C486B;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #F45050;
      color: white;
    }
  }
}
